@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div>
    <ul class="nav nav-pills nav-stacked" role="tablist" style="max-width: 300px;">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
